* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url(/fonts/DejaVuSans.ttf);
}

label[for="toggle"] {
  display: none;
}

input[type="checkbox"] {
  display: none;
}

header {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header label span {
  display: block;
  height: 3px;
  width: 25px;
  background: #333;
  position: relative;
}

header label span::before {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background: #333;
  position: absolute;
  top: 10px;
}

header label span::after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  background: #333;
  position: absolute;
  top: -10px;
}

header img {
  display: block;
}

header .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .menu li {
  color: #5363db;
  margin-right: 50px;
}

header .menu a {
  color: #5363db;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

header .menu a::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 3px;
  background: #f38181;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu a:hover {
  color: #f38181;
}

header .menu a:hover::after {
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main {
  width: 100%;
}

section {
  width: 100%;
  padding: 125px 0 130px;
  color: #fff;
}

section ul {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section ul li {
  width: 25%;
  margin-top: 20px;
}

section ul li img {
  margin-left: 100px;
}

.forma {
  background-image: url(../img/bg-01.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forma form {
  background: #fff;
  width: 300px;
  border-radius: 20px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.forma form select {
  margin-top: 18px;
  border-radius: 5px;
}

.forma form input[type="tel"] {
  margin-top: 18px;
}

.forma form input[type="text"] {
  margin-top: 30px;
}

.forma form a {
  text-decoration: none;
  color: #fff;
}

.forma form .Try_it {
  background: #5363db;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  margin-left: 100px;
  margin-top: 34px;
}

.forma h2 {
  color: #5363db;
  margin-top: 42px;
}

.text {
  margin-left: 91px;
}

.text h2 {
  color: #fff;
  text-transform: uppercase;
}

.text p {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  font-family: "DejaVu Sans";
  font-style: italic;
  margin-top: 51px;
}

.yoga_class .img {
  width: 100%;
}

.information {
  background: #fff;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.information .information_of_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information h2 {
  color: #5363db;
  text-transform: uppercase;
}

.information p {
  font-family: "DejaVu Sans";
  font-style: italic;
  color: #777;
}

.yoga_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  border-radius: 10px;
}

.Description_of_services {
  background: #5363db;
  width: 100%;
}

.forma p {
  padding-top: 20px;
}

@media (max-width: 665px) {
  .forma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 561px) {
  .forma {
    display: block;
  }
}

@media (max-width: 964px) {
  label[for="toggle"] {
    display: block;
  }
  nav {
    position: absolute;
    top: 100px;
    text-align: center;
  }
  input[type="checkbox"]:checked ~ nav {
    display: block;
    width: 100%;
  }
  header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: #fff;
    z-index: 9;
  }
  span {
    right: 10px;
  }
  nav {
    display: none;
  }
}

.Description_of_services {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.yoga_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yoga_class .text {
  width: 301px;
}

.yoga_class h2 {
  margin-left: -100px;
}

.yoga_class .img {
  display: block;
}

.text {
  font-weight: 400;
  font-size: 16px;
  margin-left: 0px;
}

.text h2 {
  margin-left: -2px;
}

.yoga_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yoga_class h2 {
  font-size: 24px;
}

.yoga_class img {
  width: 100%;
}

.information_of_class {
  display: block;
}

.forma form {
  margin-left: 200px;
  margin-top: -110px;
}

.forma h2 {
  margin-top: 10px;
}

.forma .text {
  margin-top: 10px;
  margin-left: 200px;
}

@media (max-width: 714px) {
  .Description_of_services {
    display: block;
    background: #5363db;
  }
  .Description_of_services ul {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Description_of_services ul li {
    width: 100%;
    margin-left: 10px;
  }
  .Description_of_services .text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-left: 0px;
  }
  .Description_of_services .text h2 {
    margin-left: 2px;
  }
}

@media (max-width: 425px) {
  .yoga_class {
    width: 100%;
    display: block;
  }
  .yoga_class .img img {
    width: 100%;
  }
}

.forma form {
  margin-left: 10px;
  margin-top: -40px;
}

.forma .text {
  margin-top: -10px;
  margin-left: 10px;
}

.forma p {
  margin-top: -10px;
  margin-left: 10px;
}

@media (max-width: 320px) {
  .Description_of_services {
    display: block;
    background: #5363db;
  }
  .Description_of_services ul {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Description_of_services ul li {
    width: 100%;
    margin-left: 10px;
  }
  .information_of_class {
    display: block;
  }
  .yoga_class {
    width: 100%;
    display: block;
  }
  .yoga_class .img img {
    width: 100%;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-left: 0px;
  }
  .text h2 {
    margin-left: 2px;
  }
}
/*# sourceMappingURL=style.css.map */