$menuColor: #5363db;
$lightColor: #fff;
$liBefore: #5363db;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.wrapper {
  width: 100%;
  justify-content: space-between;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url(/fonts/DejaVuSans.ttf);
}
section {
  width: 100%;
  padding: 100px 0;
}
nav {
  display: flex;
}
.menu {
  justify-content: center;
  input[type="checkbox"] {
    display: none;
  }
  ul {
    display: flex;
    li {
      list-style: none;
      margin-left: 10px;
      a {
        position: relative;
        text-decoration: none;
        color: #555;
        transition: color 0.5s;
      }
      a:hover {
        color: #5363db;
      }
      a:after {
        position: absolute;
        display: block;
        content: "";
        height: 2px;
        width: 0;
        left: 50%;
        bottom: -5px;
        transform: translate(-50%);
        background-color: #5363db;
        transition: 0.5s;
      }
      a:hover:after {
        width: 50%;
      }
    }
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-cta::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(83, 99, 219, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.form-cta {
  background-image: url(/img/bg-01.jpg);
  position: relative;
  justify-content: center;
  .container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    form {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 15px 15px;
      border-radius: 10px;
      h2 {
        color: #5363db;
        font-family: "Open Sans", sans-serif;
      }
    }
    .form-group input {
      width: 100%;
      height: 50px;
      margin-bottom: 16px;
      border-radius: 5px;
      background: #f2f2f2;
      padding: 0 10px;
      border: none;
    }
    .form-group select {
      width: 100%;
      height: 50px;
      margin-bottom: 16px;
      border-radius: 5px;
      background: #f2f2f2;
      padding: 0 10px;
      border: none;
    }
    .form-group {
      width: 100%;
    }
  }
}
