$menuColor: #5363db;
$lightColor: #fff;
$liBefore: #5363db;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
@font-face {
  font-family: "FREESCPT" serif;
  src: url(/fonts/FREESCPT.ttf);
}
.wrapper {
  width: 100%;
  justify-content: space-between;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url(/fonts/DejaVuSans.ttf);
}
section {
  width: 100%;
  padding: 100px 0;
}
nav {
  display: flex;
}
input[type="checkbox"],
label {
  display: none;
}
@media (max-width: 599px) {
  label {
    display: block;
  }
  label {
    span {
      display: block;
      width: 25px;
      height: 2px;
      background-color: #333;
      position: relative;
    }
    span::before {
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background-color: #333;
      position: absolute;
      top: -10px;
      transition: transform 0.5s;
    }
    span::after {
      content: "";
      display: block;
      width: 25px;
      height: 2px;
      background-color: #333;
      position: absolute;
      top: 10px;
    }
  }
}
header {
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  justify-content: center;
  display: flex;

  li {
    list-style: none;
    margin-left: 10px;
    a {
      position: relative;
      text-decoration: none;
      color: #555;
      transition: color 0.5s;
    }
    a:hover {
      color: #5363db;
    }
    a:after {
      position: absolute;
      display: block;
      content: "";
      height: 2px;
      width: 0;
      left: 50%;
      bottom: -5px;
      transform: translate(-50%);
      background-color: #5363db;
      transition: 0.5s;
    }
    a:hover:after {
      width: 50%;
    }
  }
}

.form-cta::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(83, 99, 219, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.form-cta {
  background-image: url(/img/bg-01.jpg);
  position: relative;
  justify-content: center;
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      background: #fff;
      padding: 27px 30px 35px;
      border-radius: 10px;
      h2 {
        font-size: 26px;
        font-weight: 400;
        color: #5363db;
        font-family: "Open Sans", sans-serif;
      }
    }
    .form-group input {
      width: 100%;
      height: 50px;
      margin-bottom: 16px;
      border-radius: 10px;
      background: #f2f2f2;
      padding: 0 10px;
      border: none;
    }
    .form-group select {
      width: 100%;
      height: 50px;
      margin-bottom: 16px;
      border-radius: 5px;
      background: #f2f2f2;
      padding: 0 10px;
      border: none;
    }
    .form-group {
      width: 100%;
    }
  }
}
.form {
  display: flex;
  justify-content: flex-end;
}
.col {
  width: 50%;
  padding: 0 46px;
}
.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 19px;
  .btn {
    background: #5363db;
    border: none;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
  }
}
h1 {
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}
.subtitle {
  font-family: "FREESCPT", serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-size: 40px;
  font-style: italic;
  color: #fff;
}
@media (max-width: 599px) {
  nav {
    display: none;
    ul {
      display: block;
    }
  }
  input[type="checkbox"]:checked ~ nav {
    display: block;
    width: 100%;
    z-index: 9;
    position: absolute;
    top: 70px;
    transition: 0.5s;
  }
  nav {
    left: 0;
  }
  .menu {
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding-left: 0;
    text-align: center;
    transition: 0.5s;
    li {
      margin-left: -10;
    }
  }
  label {
    opacity: 1;
  }
  .form-cta {
    .container {
      flex-direction: column;
    }
    h1 {
      font-size: 36px;
      line-height: 50px;
    }
    .form {
      justify-content: center;
      margin-bottom: 50px;
    }
    .col {
      padding: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.program .row {
  flex-wrap: wrap;
  .subtitle {
    p {
      color: #555;
    }
  }
  .container {
    display: block;
  }

  .classes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    .classes-info {
      a::after {
        position: absolute;
        display: flex;
        content: "";
        height: 2px;
        width: 0%;
        left: 0;
        bottom: -5px;
        background-color: #555;
      }
    }
  }
}

.row {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.classes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.title_row {
  text-align: center;
  display: block;
  h2 {
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: #5363db;
  }
}
.classes-inner {
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  box-shadow: 7px 7px 10px#cecece;
}
.classes-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px 10px;
  width: 50%;
  p {
    padding: 35px 0 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #555;
  }
  a {
    text-decoration: none;
    display: inline-block;
    line-height: 1.6;
  }
  a:last-child {
    color: #999;
  }
}
.classes-wow {
  margin-bottom: 10px;
  .img1 {
    background-image: url(/img/img-01.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 10px 0 0 10px;
    background-size: cover;
    padding-bottom: 47%;
    height: 100%;
  }
  .img2 {
    background-image: url(/img/img-02.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 10px 0 0 10px;
    background-size: cover;
    padding-bottom: 47%;
    height: 100%;
  }
  .img3 {
    background-image: url(/img/img-03.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 10px 0 0 10px;
    background-size: cover;
    padding-bottom: 47%;
    height: 100%;
  }
  .img4 {
    background-image: url(/img/img-04.jpg);
    width: 50%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 10px 0 0 10px;
    background-size: cover;
    padding-bottom: 47%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .row {
    display: block;
  }
  .classes {
    display: block;
    flex-direction: column;
    .classes-info {
      width: 100%;
    }
    .classes-wow {
      display: block;
      .classes-inner {
        display: block;
        .classes-img {
          width: 100%;
        }
      }
    }
    li {
      padding: 0 10px;
      width: 100%;
    }
  }
}
.gallery-item {
  list-style: none;
  position: relative;
  width: 25%;
  img {
    width: 100%;
    height: 100%;
  }
}
.gallery-box {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  .fas {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    display: block;
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #5363db;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    font-weight: 900;
  }
  .fas::before {
    content: "\1F50D";
  }
  .gallery-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    display: block;
    cursor: pointer;
    background: rgba(83, 99, 219, 0.8);
    transition: opacity 0.5s;
  }
  .gallery-item:hover::before {
    opacity: 1;
  }
  .gallery-item:hover > i {
    opacity: 1;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 768px) {
  .gallery-item {
    width: 50%;
  }
}
.about {
  padding: 170px 0;
  .container {
    display: flex;
    align-items: center;
    h2 {
      margin-bottom: 20px;
    }
  }
}
h2 {
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: #5363db;
}
