$menuColor: #5363db;
$lightColor: #fff;
$liBefore: #5363db;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    display: block;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      color: $menuColor;
      margin-right: 50px;
    }
    a {
      color: $menuColor;
      text-decoration: none;
    }
    a::after {
      content: "";
      display: flex;
      width: 0%;
      height: 3px;
      left: 50%;
      bottom: -10px;
      background: #f38181;
      transform: translate(50%);
      position: absolute;
      transition: 0.5s;
    }
    a:hover::after {
      width: 100%;
    }
  }
}
section {
  width: 100%;
  background: $menuColor;
  padding: 125px 0 130px;
  color: $lightColor;
  ul {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 25%;
      margin-top: 20px;
    }
    li img {
      margin-left: 100px;
    }
  }
}
.forma {
  background-image: url(/img/bg-01.jpg);
  display: flex;
  justify-content: center;
  form {
    background: #fff;
    width: 300px;
    border-radius: 20px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    select {
      margin-top: 18px;
      border-radius: 5px;
    }
    input[type="tel"] {
      margin-top: 18px;
    }
    input[type="text"] {
      margin-top: 30px;
    }
    a {
      text-decoration: none;
      color: $lightColor;
    }
    .Try_it {
      background: $liBefore;
      width: 100px;
      justify-content: center;
      display: flex;
      border-radius: 4px;
      margin-left: 100px;
      margin-top: 34px;
    }
  }
  h2 {
    color: $menuColor;
    margin-top: 42px;
  }
}
