$menuColor: #5363db;
$lightColor: #fff;
$liBefore: #5363db;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  justify-content: space-between;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url(/fonts/DejaVuSans.ttf);
}

nav {
  display: flex;
}
.menu {
  justify-content: center;
  input[type="checkbox"] {
    display: none;
  }
  ul {
    display: flex;
    li {
      list-style: none;
      margin-left: 10px;
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
